---
- name: Configure base NetBox
  hosts: netbox
  become: yes
  become_method: sudo

  vars:

    netbox_server_name: "{{ ansible_host }}"
    netbox_url: "https://{{ netbox_server_name }}"
    ansible_python_interpreter: /opt/netbox/venv/bin/python

  tasks:
    - name: Install pynetbox into NetBox venv
      become: yes
      ansible.builtin.pip:
        name: pynetbox
        virtualenv: /opt/netbox/venv

    - name: Create NetBox API token via Django shell
      ansible.builtin.command: >
        /opt/netbox/venv/bin/python3 /opt/netbox/netbox/manage.py shell -c
        "from users.models import Token, User; u=User.objects.get(username='admin');
        t=Token(user=u, description='Ansible token'); t.save(); print(t.key)"
      register: nb_token_raw

    - name: Get the API TOKEN
      set_fact:
        netbox_api_token: "{{ nb_token_raw.stdout }}"

    - name: Create the organization settings
      ansible.builtin.import_role:
        name: organization

    - name: Create the ipam settings
      ansible.builtin.import_role:
        name: ipam
